body {
    background: #f0f0f0;
}
h1 {
    font-weight: bold;
    font-size: 64px;
    font-family: 'Anton', sans-serif;
    text-align: center;
}
h2 {
    font-weight: bold;
    font-size: 48px;
    font-family: 'Anton', sans-serif;
    text-align: center;
}
.head-one {
    font-family: 'Abel', sans-serif;
    padding-top: 10em;
    text-align: center;
}

.col {
    /*margin: 10px;*/
    display: inline-block;
    vertical-align: top;
    border: 10px solid white;
    font-family: 'Anton', sans-serif;
    margin: 0 auto;
    text-align: center;
    /*align-content: center;*/
}
.circleone {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    font-size: 50px;
    color: #fff;
    line-height: 200px;
    text-align: center;
    background: #e6563b;


}
.circletwo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    font-size: 50px;
    color: #fff;
    line-height: 200px;
    text-align: center;
    background: #eb9d3a
}
.circlethree {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    font-size: 50px;
    color: #fff;
    line-height: 200px;
    text-align: center;
    background: #7cb06c

}
.circlefour {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    font-size: 50px;
    color: #fff;
    line-height: 200px;
    text-align: center;
    background: #00aba9

}
.img-one {
    margin: auto;
    width: 640px;
    border: 20px solid #e6e6e6;
    border-radius: 2%;

}
footer section {
    display: flex;
}
.head-two {
    font-family: 'Abel', sans-serif;
    font-size: 40px;
    margin-left: 2em;
    /*margin: auto;*/
}
.icons {
    /*font-family: 'Anton', sans-serif;*/
    /*width: 150px;*/
    /*height: 150px;*/
    /*border-radius: 50%;*/
    /*font-size: 50px;*/
    /*line-height: 150px;*/
    /*text-align: center;*/
    /*float: right;*/
}
.icon-one {background-color: #e6563b;}
.icon-two {background-color: #eb9d3a;}
.icon-three {background-color: #7cb06c;}
.icon-four {background-color: #00aba9;}

