body {
    background: #f0f0f0;
}
h1 {
    font-weight: bold;
    font-size: 64px;
    font-family: 'Anton', sans-serif;
    text-align: center;
}
h2 {
    font-weight: bold;
    font-size: 48px;
    font-family: 'Anton', sans-serif;
    text-align: center;
}
.head-one {
    font-family: 'Abel', sans-serif;
    padding-top: 10em;
    text-align: center;
}
.circle {
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    border: solid white 8px;
    margin: 9.6px;

}
.circleone {background: #e6563b;}
.circletwo {background: #eb9d3a;}
.circlethree {background: #7cb06c;}
.circlefour {background: #00aba9;}

.img-one {
    margin: auto;
    width: 640px;
    border: 20px solid #e6e6e6;
    border-radius: 2%;

}
footer section {
    display: flex;
}
.head-two {
    font-family: 'Abel', sans-serif;
    font-size: 40px;
    margin-left: 2em;
    /*margin: auto;*/
}
.icons {
    /*font-family: 'Anton', sans-serif;*/
    /*width: 150px;*/
    /*height: 150px;*/
    /*border-radius: 50%;*/
    /*font-size: 50px;*/
    /*line-height: 150px;*/
    /*text-align: center;*/
    /*float: right;*/
}
.icon-one {background-color: #e6563b;}
.icon-two {background-color: #eb9d3a;}
.icon-three {background-color: #7cb06c;}
.icon-four {background-color: #00aba9;}

