body {
    margin: 0;
    padding: 0;
    background: #f0f0f0;
    width: 100vw;
}
.logo {
    width: 105px;
    height: 105px;

}
.custom-navbar {
    display: flex;
    /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr;*/
    margin: auto;
    /*width: 60%;*/
    padding: 0;
}
.nav {
    padding: 1em;
}
.nav-background {
    position: absolute;
    z-index: -1;
}
h3 {
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    padding-bottom: 1em;
    padding-top: 40px;
}

h1 {
    font-weight: bold;
    font-size: 64px;
    font-family: 'Anton', sans-serif;
    text-align: center;
    padding-bottom: 1em;
    padding-top: 1em;
}

h2 {
    font-weight: bold;
    font-size: 48px;
    font-family: 'Anton', sans-serif;
    text-align: center;
    padding-bottom: 1em;
}

.sub h4 {
    font-size: 32px;
    font-family: 'Abel', sans-serif;
    width: 100%;
    font-weight: normal;
}

.head-one {
    font-family: 'Abel', sans-serif;
    padding-top: 4em;
    padding-bottom: 2em;
    text-align: center;
}

.circle {
    width: 105px;
    height: 105px;
    line-height: 105px;
    border-radius: 50%;
    border: solid white 8px;
    /*margin: 9.6px;*/
    color: #ffffff;
    font-weight: bold;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
}
.dots {
    width: 50%;
    margin: auto;
}

.circleone {
    background: #e6563b;
}

.circletwo {
    background: #eb9d3a;
}

.circlethree {
    background: #7cb06c;
}

.circlefour {
    background: #00aba9;
}

.img-one {
    margin: auto;
    width: 100%;
    border: 20px solid #e6e6e6;
    border-radius: 2%;
}
.img-one img {
    width: 100%;
}
ul {
    list-style-type: none;

}
.icons {
    font-family: 'Anton', sans-serif;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    /*margin: auto;*/
    font-size: 10px;
    line-height: 18px;
    text-align: center;

}

.icon-one {
    background-color: #e6563b;
}

.icon-two {
    background-color: #eb9d3a;
}

.icon-three {
    background-color: #7cb06c;
}

.icon-four {
    background-color: #00aba9;
}
@media screen and (min-width:576px) {
    body {

    }
    .custom-navbar {
        display: flex;
        /*margin-top: -250px;*/
        position: absolute;
        width: 100%;
        justify-content: flex-end;
    }
    .nav {

    }
    .row {
        width: 100%;
    }
    span {
        display: block;
        width: 50%;
    }

}
@media screen and (min-width:768px) {
    .logo {
        float: left;
    }

}
/*@media screen and (min-width:992px) {*/

/*}*/